{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Menu{% endblock %}

{% block description %}Liste des pizzas{% endblock %}

{% block main %}
    <main>
        <h1>Liste des pizzas</h1>
    </main>
{% endblock %}