{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Avis{% endblock %}

{% block description %}Lisez tous les avis{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5">Lisez tous les avis</h1>
    </main>
{% endblock %}