{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Avis{% endblock %}

{% block description %}Lisez tous les avis{% endblock %}

{% block main %}
    <main>
        <h1>Lisez tous les avis</h1>
    </main>
{% endblock %}