*
{
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, nav *, footer *, .btn
{
    font-family: "Pacifico", cursive;
}



/* Navbar Style */

.login-button{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3;
}

.login-button:hover{
    background-color: gray;
}

.navbar{
    background-color: #f6cf51;
    /* height: 100px; */
    margin: 20px;
    padding: 0.5rem;
    border-radius: 30px;
    margin-top: 10px;  
}

.mynav{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}

.nav-item{
    width: 120px;
    text-align: center;
    padding: 5px;
}

/* Welcome page */
/* Main-page d'accueil */
.welcome-header{
    background-image: url(../images/foto-homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    background-position: 45%;
    padding-top: 150px;
}

.clearnone{
    clear: none;
}

p.title{
    margin-top: 2rem;
}

.reserveztable{
    background-color: rgba(228, 215, 226, 0.5);
}

/* .titre{
    color: red;
    font-style: italic; 
    font-size: 80px; 
    position: relative;
} */


/* @media(max-width:768px){
    .page{
        background-position-x: -22rem;
    }
} */

/* Main- Photo de pizza-presentation */
.pizzaPresentazione, .carousel-inner{
    border-radius: 30px;
}

/* Footer Style */
.icon-soc
{
    font-size: 40px;
}

.footer{
    background-color: #f6cf51;
    
}


/* Menu */

.main-menu{
    background-color: #ffffff;
}

/* Contact */

.goldroger-visitor-header
{
    clip-path: ellipse(42% 29% at 50% 50%);
}


