*
{
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, nav *
{
    font-family: "Pacifico", cursive;
}



/* Navbar Style */

.login-button{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3;
}

.login-button:hover{
    background-color: gray;
}

.navbar{
    background-color: #f6cf51;
    /* height: 100px; */
    margin: 20px;
    padding: 0.5rem;
    border-radius: 30px;
    margin-top: 10px;  
}

.mynav{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}

.nav-item{
    width: 120px;
    text-align: center;
    padding: 5px;
}

/* Welcome page */
/* Main-page d'accueil */
.welcome-header{
    background-image: url(../images/foto-homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    background-position: 45%;
    padding-top: 150px;
}

.clearnone{
    clear: none;
}

p.title{
    margin-top: 2rem;
}

.reserveztable{
    background-color: rgba(228, 215, 226, 0.5);
}

.title{
    /* text-align: center; */
    margin-bottom: 50px;
}

/* .presentazione{
    font-size: 1.1em;
} */

#titolo{
    text-align: center;
    margin-bottom: 30px;
}



/* Main- Photo de pizza-presentation */
.pizzaPresentazione, .carousel-inner{
    border-radius: 30px;
}

/* Footer Style */
.icon-soc
{
    font-size: 40px;
}

.footer{
    background-color: #f6cf51;
    
}

.footer.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Menu */

.main-menu{
    background-color: #ffffff;
}

.category{
    height: 70px;
    width: 180px;
    font-size: 18px;
}

@media (max-width: 767.98px) {
    .ImageCenter{
        display: flex !important;
        justify-content: center !important;
    }
}
/* 
@media (max-width: 1200px) {
    .responsive-card-img {
        width: 100%;
        height: auto;
    }
    .responsive-card-row {
        flex-direction: column;
    }
} */



/* Contact */

.goldroger-visitor-header
{
    clip-path: ellipse(42% 29% at 50% 50%);
    background: linear-gradient(rgba(255, 215, 0, 0.5), rgba(255, 215, 0, 0));
}


/* Reservation */
.reservation{
    height: 70px;
    width: 180px;
    font-size: 30px;
    
}

/* Avis */
.shadow-yellow {
    box-shadow: 0 4px 8px rgb(255, 99, 71); /* Ombra rosso pomodoro con opacità */
}
