{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}Contactez-nous{% endblock %}

{% block main %}
    <main>
        <h1>Contactez-nous</h1>
    </main>
{% endblock %}