<h2>Ciao {{ booking_first_name }} {{ booking_last_name }}</h2>

<p>Malheureusement, votre demande de réservation a été rejetée. <br>Nous vous invitons à effectuer une nouvelle réservation pour une autre date qui vous convient ou à nous appeler au +39 370 120 9376 pour vérifier ensemble les disponibilités. <br>Merci!</p>