<h2>Ciao {{booking_first_name}} {{booking_last_name}}</h2>

<p>Merci d'avoir choisi Gold Roger Pizzeria! Nous confirmons que la réservation a été effectuée.</p>

<p>Votre code de réservation est le {{booking_code}}</p>

{% if booking_table %}
    <p>Le numéro de la table correspondente est {{booking_table.number}}</p>
{% endif %}

<p>Nous avons hâte de vous accueillir!</i></p>