<h2>Ciao {{ booking_first_name }} {{ booking_last_name }}</h2>

<p>Malheureusement, votre demande de réservation a été rejetée. Nous vous invitons à effectuer une nouvelle réservation pour une autre date qui vous convient ou à nous appeler au 0987654321 pour vérifier ensemble les disponibilités. Merci!</p>