{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block description %}Réserver une table{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5">Reservez</h1>
    </main>
{% endblock %}
