{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue à la pizzeria Gold Roger, où la tradition italienne rencontre la passion de la bonne cuisine. Découvrez nos pizzas préparées avec des ingrédients frais et authentiques. Venez nous rendre visite pour une expérience culinaire inoubliable!{% endblock %}


{% block main %}
    {# Image d'accueil #}
    
            <div>
                <h2 class="text-light col-4 text-center w-100 my-3">GOLD ROGER PIZZERIA</h2>
            </div>
            
            <div class="pt-5 d-flex flex-column rounded-pill" style="height:80vh">
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <a class="reserveztable mt-5 text-center btn btn-lg btn-outline-dark" href="reserveztable">
                        <h1>Réserver une table</h1>
                    </a>
                </div>
            </div>
        

    {# Header #}
    {# <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <img src="{{ asset('images/visitor/menu/bufala.png') }}" class="img-fluid">
                </div>
                <div class="col-md-5 col-sm-12">
                    <div>
                        <p>
                            Nous sommes qui
                        </p>
                    </div>
                    <div>
                        <p>
                            bla bla
                        </p>
                    </div>    
                </div>
            </div>
        </div>
    </header> #}

        {# <section>
            <div>
                <h1 class="text-center my-3 display-5">Nous sommes qui</h1>
            </div> 
        </section> #}
{% endblock %}

    {# Footer #}  
{% block footer %}
{% endblock %}





