{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue à la pizzeria Golden Roger, où la tradition italienne rencontre la passion de la bonne cuisine. Découvrez nos pizzas préparées avec des ingrédients frais et authentiques. Venez nous rendre visite pour une expérience culinaire inoubliable!{% endblock %}

{% block main %}
    <main>
        <h1>Accueil</h1>
    </main>
{% endblock %}
