{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Réservation en cours de traitement{% endblock %}

{% block description %}Réservation en cours de traitement{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5">Réservation en cours de traitement</h1>
            <div class="container mt-5 text-center">
                    <div class="row">
                        <p>Votre demande de reservation est pris en compte, nous vous enverrons une réponse dans les prochaines heures par email.</p>
                    </div>
            </div>
    </main>
{% endblock %}